doctype html
html
    head
        title Jade Page
    body
        h1 This page is produced by Jade engine
        p some paragraph here..
        a(href="#")
            h3 haha
        input(type="text")