doctype html
html
    head
        title Jade Page
    body
        h1 This page is produced by Pug engine
        p some paragraph here..
        a(href="#")
            h3 hyperlink
        input(type="text")